<div class="col-md-3">
    <div class="mb-4">
        <h5>Menu</h5>
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="/">Przepisy</a></li>
            <li class="list-group-item"><a routerLink="/my-book">Moja książka kucharska</a></li>
            <li class="list-group-item"><a routerLink="/new-recipe">Dodaj nowy przepis</a></li>
            <li class="list-group-item"><a routerLink="/" (click)="this.authenticationService.logout()" class="link-danger">Wyloguj się</a></li>
        </ul>
    </div>
</div>
